{% load staticfiles %}
<!DOCTYPE html>

<html lang='en'>
    <head>
        <meta charset='UTF-8' http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        <link rel='stylesheet' type='text/css' href='{% static "css/bootstrap.min.css" %}'>
        <link rel='stylesheet' type='text/css' href='{% static "css/style.css" %}'>
        <title>{{ title }}</title>
    </head>
    <body>
        <div class='login'>
            <h1>{{ message }}</h1>
        </div>
        <div class='toast'></div>
    </body>
</html>
